@import "reset-css";
@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto/Roboto-Regular.ttf");
}
html {
  font-family: "Roboto", serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
